/* ------------------------------ */
/* Основной контейнер             */
/* ------------------------------ */

.track-info-card {
  display: flex;
  gap: 20px;
}

/* ------------------------------ */
/* Обложка                        */
/* ------------------------------ */

.track-info-card__cover {
  width: 140px;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

/* ------------------------------ */
/* Основное тело                  */
/* ------------------------------ */

.track-info-card__body {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

/* Заголовок */
.track-info-card__title {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 6px 0;
  line-height: 1.2;
}

/* Артист */
.track-info-card__artist {
  margin: 0 0 12px 0;
  color: #777777;
  font-size: 16px;
  line-height: 1.2;
}

/* Метаданные */
.track-info-card__meta {
  font-size: 14px;
  color: #999999;
  margin-bottom: 15px;
}

/* ------------------------------ */
/* Кнопки                         */
/* ------------------------------ */

.track-info-card__button-wrapper {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.track-info-card__play-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 6px 14px;
  margin-right: 20px;

  width: 160px;
  border-radius: 6px;
  border: 1px solid #fc6d3e;
  background: #fc6d3e;
  color: #ffffff;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  outline: none;

  transition: background-color 0.2s ease;
}

.track-info-card__play-button span {
  margin: 0 auto;
}

.track-info-card__play-button:hover,
.track-info-card__play-button:focus-visible {
  background: #e65c32;
}

/* Иконка в кнопке */
.track-info-card__play-icon {
  width: 24px;
  height: 24px;
}

/* ------------------------------ */
/* Мобильная версия               */
/* ------------------------------ */

@media (max-width: 768px) {
  .track-info-card {
    width: 100%;
    max-height: 90vh;

    border-radius: 16px 16px 0 0;

    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .track-info-card__cover {
    width: 120px;
    height: 120px;
  }

  .track-info-card__body {
    align-items: center;
    width: 100%;
  }

  .track-info-card__play-button {
    justify-content: center;
  }
}
