/* ------------------------------ */
/* Корневой контейнер             */
/* ------------------------------ */

.layout-root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* ------------------------------ */
/* Основной лейаут                */
/* ------------------------------ */

.layout {
  width: 100%;
  max-width: 1440px;

  display: flex;
  flex-direction: column;
}

/* ------------------------------ */
/* Контентная область             */
/* ------------------------------ */

.layout__content {
  flex: 1 1 auto;
}

/* ------------------------------ */
/* Адаптивность                   */
/* ------------------------------ */

@media (max-width: 1024px) {
  .layout__content {
    background-color: #f5f5f5;
  }
}
