/* ------------------------------ */
/* Общий грид для таблицы треков  */
/* ------------------------------ */

.track-grid {
  display: grid;
  grid-template-columns:
    40px /* № */
    minmax(0, 1.82fr) /* Название */
    minmax(0, 1.1fr) /* Альбом */
    minmax(0, 1fr) /* Дата */
    99px; /* Длительность */
  align-items: center;
}
